menu "OneWheelMonitor Configuration"

    config OWM_ENABLE_DISPLAY
        bool "Enable I2C Display Output Interface"
        default false

    config OWM_ENABLE_MQTT
        bool "Enable MQTT Output Interface"
        default false

endmenu
